{% extends "inv_base.html" %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Count</title>
    </head>

    <body>
    {% if current_user.is_authenticated %}
        <div class="container">
        <div class="row" style="font-size:200%"><b>
            Location: {{ location }}
            </b>
        </div>
        <div class="row">
            {{ backstock }}
        </div>
        <div class="row" style="font-size:400%"><b>
            {{ sku }}
            </b>
        </div>
        <div class="row">
            Vendor: {{ vendor }}
        </div>
        <div class="row" style="font-size:150%">
            {{ description }}
        </div>

        <div class="row" style="font-size:200%">
            <form action="." method="POST">
                <input type="number" name="Count" value="" autofocus>
                <input type="submit" name="submit_control" class="btn btn-success" value="Enter count">
            </form>
        </div>
        <div class="row" style="font-size:200%">
            <form action="." method="POST">
                <input type="submit" name="submit_control" class="btn btn-success" value="Wrong SKU">
            </form>
        </div>
    {% endif %}
    </div><!-- /.container -->

    </body>
</html>
{% endblock %}
