{% extends "inv_base.html" %}
{% block content %}
<html>
    <body>
    {% if current_user.is_authenticated %}
        <div class="container">
        <div class="row" style="font-size:200%"><b>
            Location: {{ location }}
            </b>
        </div>
        <div class="row" style="font-size:200%">
            <form action="." method="POST">
                <input name="SKU" value="" autofocus>
                <input type="submit" class="btn btn-success" value="Enter SKU">
            </form>
        </div>
    {% endif %}
    </div><!-- /.container -->

    </body>
</html>
{% endblock %}
